* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}


/* HEADER */

.header {
    width: 100%;
    background-color: #fff;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 69px 22px;
}

.header-wrapper-content__logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-wrapper-content__logo a {
    font-family: 'Rockwell';
    font-size: 20px;
    color: #3A6A96;
    font-weight: bold;
}

.header-wrapper-content__menu-button {
    width: 37%;
    display: flex;
    justify-content: center;
}

.header-wrapper-content__phone {
    width: 17%;
    display: flex;
    justify-content: flex-end;
}

.header-wrapper-content__phone p {
    font-family: 'Gotham Pro';
    font-size: 18px;
    color: #3A6A96;
    font-weight: bold;
}

.header-wrapper-content__social {
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.header-wrapper-content__social a {
    margin-left: 10px;
}



/* MENU */


.menu {
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 71px;
    z-index: 99;
}

.menu-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.menu-wrapper-content {
    padding: 60px 250px 40px;
}

.menu-wrapper-content__links {
    display: flex;
    justify-content: space-between;
}

.menu-wrapper-content__links-tab {
    width: 50%;
}

.menu-wrapper-content__links-tab li {
    list-style-type: none;
    margin: 0px 0px 25px 0px;
    padding: 7px 0px 0px 50px;
}

.menu-wrapper-content__links-tab li:hover {
    background: url(/accets/img/link_marker.png) no-repeat 0px 0px;
    padding-right: 10px;
    margin: 0px 0px 25px 0px;
}

.menu-wrapper-content__links-tab a {
    font-family: 'Rockwell';
    font-size: 30px;
    letter-spacing: 0.06em;
    color: #535353;
}

.menu-wrapper-content__links-tab a:hover {
    color: #3A6A96;
    font-weight: bold;
}

.menu-wrapper-content hr {
    margin: 50px 0px 60px 45px;
    width: 822px;
    border: 1px solid #E4E4E4;
}

.menu-wrapper-content__contacts {
    display: flex;
    justify-content: space-between;
    padding: 0px 45px;
}

.menu-wrapper-content__contacts-text {
    width: 50%;
}

.menu-wrapper-content__contacts-text span {
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 30px;
    color: #535353;
}

.menu-wrapper-content__contacts-text p {
    font-family: 'Rockwell';
    font-size: 30px;
    letter-spacing: 0.06em;
    color: #3A6A96;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 20px;
}

.menu-wrapper-content__contacts-text p.phone {
    font-family: 'Rockwell';
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #535353;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-wrapper-content__contacts-icons {
    display: flex;
    width: 43%;
    align-items: center;
}

.menu-wrapper-content__contacts-icons a {
    margin-right: 30px;
}

.menu-wrapper-content__contacts-icons_insta {
    background: url(/accets/img/menu_btn_lite_inst.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.menu-wrapper-content__contacts-icons_insta:hover {
    background: url(/accets/img/menu_btn_dark_inst.png);
}

.menu-wrapper-content__contacts-icons_vk {
    background: url(/accets/img/menu_btn_lite_vk.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.menu-wrapper-content__contacts-icons_vk:hover {
    background: url(/accets/img/menu_btn_dark_vk.png);
}

.menu-wrapper-content__contacts-icons_fb {
    background: url(/accets/img/menu_btn_lite_fb.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.menu-wrapper-content__contacts-icons_fb:hover {
    background: url(/accets/img/menu_btn_dark_fb.png);
}


/* BANNER */

.banner {
    width: 100%;
    background-color: #fff;
}

.banner-wrapper {
    margin: 0 auto;
    padding: 0px 70px;
}

.banner-wrapper-content {
    max-width: 1440px;
    height: 590px;
    margin: 0 auto;
    background: url(/accets/img/banner_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-wrapper-content__heading {
    display: flex;
    width: 100%;
    height: 58%;
    justify-content: center;
    align-items: center;
}

.banner-wrapper-content__heading h1 {
    font-family: 'Rockwell';
    font-size: 55px;
    line-height: 66px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.banner-wrapper-content__button {
    display: flex;
    width: 100%;
    height: 24%;
    justify-content: center;
    align-items: center;
}

.banner-wrapper-content__button-wrapper {
    position: relative;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.banner-wrapper-content__button-wrapper button {
    width: 340px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 2px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #3A6A96;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-wrapper-content__button-wrapper img {
    position: absolute;
    top: 11px;
    left: 310px;
}

.banner-wrapper-contacts {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0px;
}

.banner-wrapper-contacts__social {
    display: flex;
    align-items: center;
}

.banner-wrapper-contacts__social a {
    margin-right: 21px;
}

.banner-wrapper-contacts__social-insta {
    background: url(/accets/img/contacts_social_lite_inst.png);
    background-size: cover;
    display: block;
    width: 16px;
    height: 16px;
}

.banner-wrapper-contacts__social-insta:hover {
    background: url(/accets/img/contacts_social_dark_inst.png);
    background-size: cover;
    display: block;
    width: 16px;
    height: 16px;
}

.banner-wrapper-contacts__social-vk {
    background: url(/accets/img/contacts_social_lite_vk.png);
    background-size: cover;
    display: block;
    width: 23px;
    height: 13px;
}

.banner-wrapper-contacts__social-vk:hover {
    background: url(/accets/img/contacts_social_dark_vk.png);
    background-size: cover;
    display: block;
    width: 23px;
    height: 13px;
}

.banner-wrapper-contacts__city span {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #3A6A96;
}


/* BIRTHDAY */

.birthday {
    width: 100%;
    background-color: #fff;
    background: url(/accets/img/waves_bg.png) no-repeat;
    background-position: 0px 400px;
    background-size: contain;
}

.birthday-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.birthday-wrapper-content {
    width: 55%;
    height: 380px;
    background: url(/accets/img/capitan_head.png) no-repeat;
    background-position: center;
}

.birthday-wrapper-content h2 {
    font-family: 'Rockwell';
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    font-weight: bold;
    color: #3A6A96;
    margin: 100px 0px 22px;
}

.birthday-wrapper-content p {
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #535353;
}

.birthday-wrapper-content__link-sets {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.birthday-wrapper-content__link-sets-btn {
    width: 300px;
    height: 50px;
    background: #3A6A96;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 2px;
    border: 2px solid #f10505;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #FFFFFF;
}


.birthday-wrapper_wave {
    width: 100%;
    height: 596px;
    
    padding: 0px 0px 30px;
    overflow: hidden;
}

.birthday-wrapper_wave-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    transform: scale(1.2);
    overflow: hidden;
}

.birthday-wrapper_wave-items-item {
    width: 276px !important;
    height: 360px !important;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    margin: 0px 20px;
}

.birthday-wrapper_wave-items-item-photo {
    display: flex;
    align-items: flex-end;
    height: 85%;
    border-radius: 11px;
    background: url(/accets/img/card_img.png) no-repeat;
    background-size: cover;
}

.birthday-wrapper_wave-items-item-photo-description {
    height: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(0deg, rgba(34, 101, 163, .5), rgba(103, 0, 31, .0)); 
}

.birthday-wrapper_wave-items-item-photo-description span {
    color: #fff;
    text-align: center;
}

.birthday-wrapper_wave-items-item-name {
    min-height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.birthday-wrapper_wave-items-item-name span {
    font-family: 'Rockwell';
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    color: #3A6A96;
}


.birthday-wrapper_wave-items .slick-center {
    width: 307px !important;
    height: 423px !important;
}

.birthday-wrapper_wave-items .slick-track.slick-active:last-of-type {
    opacity: 0.3 !important;
    display: none;
}

.birthday-wrapper_wave-items .slick-list.draggable {
    padding: 0px !important;

}

.birthday-wrapper_wave-items .slick-track {
    height: 575px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


.birthday-wrapper_wave-items .slick-prev.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 130px;
    height: 400px;
    width: 300px;
    opacity: 0;
}

.birthday-wrapper_wave-items .slick-next.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 130px;
    right: 0;
    height: 400px;
    width: 300px;
    opacity: 0;
} 



/* BEST */

.best {
    width: 100%;
    background-color: #fff;
    margin: 100px 0px 110px;
}

.best-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.best-wrapper-content {
    padding: 0px 70px;
}

.best-wrapper-content__text {
    text-align: center;
    margin-bottom: 10px;
}

.best-wrapper-content__text h3 {
    font-family: 'Rockwell';
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    font-weight: bold;
    color: #3A6A96;
    margin: 100px 0px 22px;
}

.best-wrapper-content__text p {
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #535353;
    margin-bottom: 15px;
}

.best-wrapper-content__text span {
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    color: #535353;
}


.best-wrapper-content__slider {
    position: relative;
    height: 549px;
    padding: 42px 0px 0px;
}

.best-wrapper-content__slider-img {
    position: relative;
    height: 549px;
}

.best-wrapper-content__slider-img img {
    width: 100%;
}

.best-wrapper-content__slider-img .slick-prev {
    position: absolute;
    top: -30px;
    right: 50%;
    display: block;
    width: 75px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
    font-weight: 100;
    color: #3a6a96;
    box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.best-wrapper-content__slider-img .slick-next {
    position: absolute;
    top: -30px;
    left: 50%;
    display: block;
    width: 75px;
    height: 60px;
    cursor: pointer;
    z-index: 1;
    font-size: 14px;
    font-weight: 100;
    color: #3a6a96;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.prev_btn:hover,
.next_btn:hover {
    
    height: 58px;
}

.prv_b {
    left: 10px;
    background: url(images/prv.png) no-repeat;
}

.nxt_b {
    right: 10px;
    background: url(images/nxt.png) no-repeat;
}




/* SETS */


.sets {
    width: 100%;
    background-color: #fff;
}

.sets-wrapper {
    max-width: 1440px;
    padding: 0px 70px;
    margin: 0 auto;
}

.sets-wrapper-content {
    height: 822px;
    background: url(/accets/img/sea_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 87px 137px 0px;
    text-align: center;
}

h4 {
    font-family: 'Rockwell';
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.sets-wrapper-content__item-wrapper-four {
    display: block;
}

.sets-wrapper-content__item-wrapper-one,
.sets-wrapper-content__item-wrapper-two, 
.sets-wrapper-content__item-wrapper-three,
.sets-wrapper-content__item-wrapper-five,
.sets-wrapper-content__item-wrapper-six,
.sets-wrapper-content__item-wrapper-seven {
    display: none;
}  

.sets-wrapper-content__setname {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sets-wrapper-content__setname button {
    height: 31px;
    width: 35px;
    font-size: 49px;
    padding-bottom: 15px;
    font-weight: 100;
    line-height: 15px;
    color: #fff;
    background: none;
    display: flex;
    align-items: center;
}

.sets-wrapper-content__setname p {
    font-family: 'Rockwell';
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0px 30px;
    padding-top: 10px;
}

.sets-wrapper-content__duration {
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sets-wrapper-content span {
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 100;

}

.sets-wrapper-content__order-btn {
    margin-top: 30px;
    background: #3A6A96;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 2px;
    width: 250px;
    height: 50px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #FFFFFF;
}

.sets-wrapper-content__chests {
    background: url(/accets/img/ship_bg.png) no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 61%;
    background-position: center bottom;
}

.sets-wrapper-content__chests-item_center {
    height: 90%;
}

.sets-wrapper-content__chests-item_center .sets-wrapper-content__chests-item-img-closed {
    display: none;
}

.sets-wrapper-content__chests-item_center .sets-wrapper-content__chests-item-img-opened {
    display: block;
}

.sets-wrapper-content__chests-item_center-right,
.sets-wrapper-content__chests-item_center-left {
    height: 74%;
}

.sets-wrapper-content__chests-item_middle-right,
.sets-wrapper-content__chests-item_middle-left {
    height: 55%;
}

.sets-wrapper-content__chests-item_right,
.sets-wrapper-content__chests-item_left {
    height: 22%;
}

.sets-wrapper-content__chests-item-img-opened {
    display: none;
}

/* GOALS */

.goals {
    width: 100%;
    height: 2545px;
    background: url(/accets/img/shape_bg_long.png) no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.goals-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.goals-wrapper-content {
    padding: 75px 70px 0px;
}

.goals-wrapper-content__kids {
    display: flex;
    justify-content: space-between;
}

.goals-wrapper-content__kids-text {
    width: 39%;
    padding: 90px 0 0 80px;
}

.goals-wrapper-content__kids-text p {
    font-family: 'Rockwell';
    font-size: 44px;
    line-height: 53px;
    font-weight: bold;
    color: #3A6A96;
    margin-bottom: 32px;
}

.goals-wrapper-content__kids-text span {
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 190%;
    color: #535353;
}

.goals-wrapper-content__kids-text-btn {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 2px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #535353;
    margin-top: 49px;
}

.goals-wrapper-content__parents {
    display: flex;
    justify-content: space-between;
}

.goals-wrapper-content__parents-image {
    width: 52%;
}

.goals-wrapper-content__parents-text {
    width: 38%;
    padding: 115px 65px 0px 0px;
}

.goals-wrapper-content__parents-text p {
    font-family: 'Rockwell';
    font-size: 44px;
    line-height: 53px;
    font-weight: bold;
    color: #3A6A96;
    margin-bottom: 32px;
}

.goals-wrapper-content__parents-text span {
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 190%;
    color: #535353;
}

.goals-wrapper-content__reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.goals-wrapper-content__reviews-text {
    width: 39%;
    padding: 90px 0 0 80px;
}

.goals-wrapper-content__reviews-text p {
    font-family: 'Rockwell';
    font-size: 44px;
    line-height: 53px;
    font-weight: bold;
    color: #3A6A96;
    margin-bottom: 32px;
}

.goals-wrapper-content__reviews-text span {
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 190%;
    color: #535353;
}

.goals-wrapper-content__reviews-text-btn {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 2px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #535353;
    margin-top: 49px;
}

.goals-wrapper-content__form {
    height: 437px;
    background: url(/accets/img/map_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.goals-wrapper-content__form-wrapper {
    width: 38%;
    text-align: center;
    padding: 50px 0px 0px
}

.goals-wrapper-content__form-wrapper p {
    font-family: 'Rockwell';
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.goals-wrapper-content__form-wrapper span {
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    font-weight: 100;
    color: #FFFFFF;
}

form {
    margin-top: 15px;
    position: relative;
}

form>img.anchor {
    position: absolute;
    top: 68%;
    left: 7%;
}

form>img.bell {
    position: absolute;
    top: 67%;
    right: 7%;
}

input {
    width: 355px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 3px;
    outline: none;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Gotham Pro';
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #535353;
}

form>button {
    width: 355px;
    height: 60px;
    background: #FFB13C;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 3px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #535353;
}



/* CONTACTS */


.contacts {
    width: 100%;
    background: url(/accets/img/sea_animals_bg.png) no-repeat;
    background-size: cover;
    padding-bottom: 35px;
}

.contacts-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contacts-wrapper-content {
    width: 50%;
    text-align: center;
}


.contacts-wrapper-content__contacts-text span {
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 30px;
    color: #535353;
}

.contacts-wrapper-content__contacts-text p {
    font-family: 'Rockwell';
    font-size: 30px;
    letter-spacing: 0.06em;
    color: #3A6A96;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 20px;
}

.contacts-wrapper-content__contacts-text p.phone {
    font-family: 'Rockwell';
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #535353;
    font-weight: bold;
    margin-bottom: 20px;
}

.contacts-wrapper-content__btn {
    width: 355px;
    height: 60px;
    background: #4075A5;
    box-shadow: 0px 5px 10px rgba(58, 106, 150, 0.1);
    border-radius: 3px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: bold;
    color: #FFFFFF;
    margin: 30px 0 35px;
}

.contacts-wrapper-content__contacts-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-wrapper-content__contacts-icons a {
    margin: 0 30px;
}

.contacts-wrapper-content__contacts-icons_insta {
    background: url(/accets/img/contacts_lite_inst.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.contacts-wrapper-content__contacts-icons_insta:hover {
    background: url(/accets/img/contacts_dark_inst.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.contacts-wrapper-content__contacts-icons_vk {
    background: url(/accets/img/contacts_lite_vk.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.contacts-wrapper-content__contacts-icons_vk:hover {
    background: url(/accets/img/contacts_dark_vk.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.contacts-wrapper-content__contacts-icons_fb {
    background: url(/accets/img/contacts_lite_fb.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.contacts-wrapper-content__contacts-icons_fb:hover {
    background: url(/accets/img/contacts_dark_fb.png);
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
}


/* MAP */

.map {
    display: none;
    width: 100%;
}

.map-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 40px 50px;
}

.map-wrapper-content {
    display: block;
    text-align: center;
}

.map-wrapper-content__map-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-wrapper-content__map-img img {
    width: 100%;
}